
  <header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <a class="logo" routerLink="">
            <span class="logo-light-mode">
                <img src="../assets/images/logo-light.png" class="l-light" height="55" alt="">
            </span>
        </a>

        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <!--Login button Start-->
        <ul class="buy-button list-inline mb-0">
            <li class="list-inline-item mb-0">
                <a routerLink="/login">
                    <!-- <div class="login-btn-primary"><span class="btn btn-icon btn-pills btn-soft-primary">
                      <img src="../assets/images/user.png" alt=""></span></div> -->
                    <div *ngIf="!this.authlogin.isLoggedIn()" class="login-btn-light"><span class="btn btn-icon btn-pills btn-light"><img src="../assets/images/user.png" width="23"></span></div>
                </a>
            </li>
        </ul>
        <!--Login button End-->

        <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu nav-light">
                <li *ngIf="!this.authlogin.isLoggedIn()"><a routerLink="/" class="sub-menu-item">Accueil</a></li>
                <li *ngIf="this.authlogin.isLoggedIn()"><a routerLink="/sm-admin" class="sub-menu-item">Tableau de bord</a></li>

                <li *ngIf="!this.authlogin.isLoggedIn()"><a routerLink="/apropos" class="sub-menu-item">A propos</a></li>
                <li *ngIf="!this.authlogin.isLoggedIn()"><a routerLink="/docs" class="sub-menu-item">Documentation</a></li>
                <li *ngIf="this.authlogin.isLoggedIn()" class="has-submenu parent-menu-item">
                  <a href="javascript:void(0)">Gestion Simulations</a><span class="menu-arrow"></span>
                  <ul class="submenu">
                      <li><a routerLink="/creation-simulation" class="sub-menu-item">Création simulation</a></li>
                      <li><a routerLink="/simulations" class="sub-menu-item">Liste des simulations</a></li>

                  </ul>
                </li>
                <li *ngIf="this.authlogin.isLoggedIn()"><a routerLink="/clients" class="sub-menu-item">Gestion Clients</a></li>

                <li *ngIf="this.authlogin.isLoggedIn()"><a routerLink="" (click)="authlogin.logout()"  class="sub-menu-item">Se deconnecter</a></li>
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</header>