    <!--================ Footer ================-->
    <footer id="mad-footer" class="mdfooter footer-2">
        <!--================ Footer row ================-->
        <div class="mad-footer-main">
            <div class="container-fluid">
                <div class="row justify-content-between vr-size-2">
                    <div class="col">
                        <!--================ Widget ================-->
                        <section class="mad-widget" >

                            <a href="#" class="imgftr"><img src="../assets/credit.png" alt="" /></a>

                        </section>
                        <!--================ End of Widget ================-->
                    </div>

                </div>
                <div class="mad-footer-bottom">
                    <p class="copyrights align-center" >
                        {{copyright}}
                        
                    </p>
                </div>
            </div>
        </div>
        <!--================ End of Footer row ================-->
    </footer>
    <!--================ End of Footer ================-->