<div class="wrapper">

  <h1 class="heading center">Simulateur de crédit</h1>
  <span class="text-center center">Formulaire création simulation</span>
  <div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#test-l-1">
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">Client</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-2">
        <button class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">Produit</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-3">
        <button class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">Resultat</span>
        </button>
      </div>
    </div>
  </div>

  <form (ngSubmit)="submit()" method="post" [formGroup]="multistep">
    <div class="container">
      <!-- <div class="alert alert-danger" *ngIf="multistep.errors"> -->

      <section id="clients" *ngIf="step == 1" formGroupName="infoClients">
        <div class="alert alert-danger" *ngIf="multistep.get('infoClients')?.errors">
          <strong>Merci de remplire tous les champs qui sont obligatoire indiquer
            avec *</strong>
        </div>
        <div class="spacer"></div>
        <h5>Infos clients :</h5>
        <div class="spacer"></div>

        <div class="row">
          <div class="col-lg-6">
            <label for="nom_prenom_client">Nom complet</label>
            <span class="text-danger"> *</span>
            <input type="text" class="form-control" [ngClass]="{
                'is-invalid': multistep.get('infoClients.nom_prenom_client')
                  ?.invalid
              }" id="nom_prenom_client" formControlName="nom_prenom_client" placeholder="Nom complet" />
            <div *ngIf="
                multistep.get('infoClients.nom_prenom_client')?.touched &&
                multistep.get('infoClients.nom_prenom_client')?.invalid
              " class="alert alert-danger">
              <div *ngIf="multistep.get('infoClients.nom_prenom_client')?.invalid">
                Le nom est obligatoire
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <label for="telephone_client">Téléphone</label>
            <span class="text-danger"> *</span>
            <input type="number" class="form-control" id="telephone_client" formControlName="telephone_client"
              placeholder="Téléphone" />
          </div>
        </div>
        <div class="spacer"></div>

        <div class="row">
          <div class="col-lg-6">
            <label for="numero_cin_client">Numéro CIN</label>
            <span class="text-danger"> *</span>
            <input type="text" class="form-control" id="numero_cin_client" formControlName="numero_cin_client"
              placeholder="CIN" />
            <div *ngIf="
                multistep.get('infoClients.numero_cin_client')?.touched &&
                multistep.get('infoClients.numero_cin_client')?.invalid
              " class="alert alert-danger">
              Le Numéro CIN est obligatoire
            </div>
          </div>
          <div class="col-lg-6">
            <label for="email_client">Email</label>
            <input type="text" class="form-control" id="email_client" formControlName="email_client"
              placeholder="Email" />
          </div>
        </div>
        <div class="spacer"></div>

        <div class="row">
          <div class="col-lg-6">
            <label for="age_client">Age</label>
            <span class="text-danger"> *</span>
            <input type="text" class="form-control" formControlName="age_client" placeholder="Age" id="age_client" />
          </div>
          <div class="col-lg-6">
            <label for="ville_client">Ville</label>
            <span class="text-danger"> *</span>
            <select class="form-select" formControlName="ville_client" aria-label="Ville" id="ville_client">
              <option value="" selected>Choisire...</option>
              <option value="Kenitra">Kenitra</option>
              <option value="Rabat">Rabat</option>
              <option value="Casablanca">Casablanca</option>
            </select>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="row">
          <div class="col-lg-6">
            <label for="profession_client">Profession</label>
            <span class="text-danger"> *</span>
            <select class="form-select" formControlName="profession_client" aria-label="Profession"
              id="profession_client">
              <option value="" selected>Choisire...</option>
              <option value="Fonctionnaire">Fonctionnaire</option>
              <option value="Salarié">Salarié</option>
              <option value="Profession libérale">Profession libérale</option>
              <option value="Auto-entrepreneur">Auto-entrepreneur</option>
            </select>
          </div>
          <div class="col-lg-6">
            <label for="revenu_principale_client">Salaire</label>
            <input type="number" class="form-control" id="revenu_principale_client"
              formControlName="revenu_principale_client" placeholder="Salaire" />
          </div>
        </div>
        <div class="spacer"></div>

        <div class="row">
          <div class="col-lg-6">
            <label for="date_naissance_client">Date naissance</label>

            <input type="date" id="date_naissance_client" class="form-control" formControlName="date_naissance_client"
              placeholder="" />
          </div>
          <div class="col-lg-6">
            <label for="adresse_client">Adresse</label>

            <input type="text" class="form-control" id="adresse_client" formControlName="adresse_client"
              placeholder="Adresse" />
          </div>
        </div>
      </section>

      <section id="simulations" *ngIf="step == 2" formGroupName="infoSimulations">
        <div class="alert alert-danger" *ngIf="multistep.get('infoSimulations')?.errors">
          <strong>Merci de remplire tous les champs qui sont obligatoire indiquer
            avec *</strong>
        </div>
        <div class="spacer"></div>
        <h5>Infos crédit</h5>
        <div class="spacer"></div>

        <div class="row">
          <div class="col-lg-6">
            <label for="type_produit_simulation">Type produit</label>
            <input type="text" class="form-control" placeholder="Type produit" id="type_produit_simulation"
              formControlName="type_produit_simulation" [ngClass]="{
                'is-invalid': multistep.get(
                  'infoSimulations.type_produit_simulation'
                )?.invalid
              }" />
            <div *ngIf="
                multistep.get('infoSimulations.type_produit_simulation')
                  ?.touched &&
                multistep.get('infoSimulations.type_produit_simulation')
                  ?.invalid
              " class="alert alert-danger">
              <div *ngIf="
                  multistep.get('infoSimulations.type_produit_simulation')
                    ?.invalid
                ">
                Type est obligatoire
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <label for="prix_produit_simulation">Prix produit</label>

            <input type="number" class="form-control" id="prix_produit_simulation" placeholder="Prix produit"
              formControlName="prix_produit_simulation" />
          </div>
        </div>
        <div class="spacer"></div>

        <div class="row">
          <div class="col-lg-6">
            <label for="duree_simulation">Durée crédit (par mois)</label>
            <input type="number" class="form-control" id="duree_simulation" placeholder="Durée crédit"
              formControlName="duree_simulation" />
          </div>
          <div class="col-lg-6">
            <label for="type_taux_simulation">Type taux</label>
            <select class="form-select" formControlName="type_taux_simulation" id="type_taux_simulation">
              <option value="" selected>Choisire...</option>
              <option value="Variable">Variable</option>
              <option value="Fix">Fix</option>
            </select>
          </div>
        </div>
        <div class="spacer"></div>

        <div class="row">
          <div class="col-lg-6">
            <label for="tauxinteret_simulation">Taux d'intérêt</label>
            <input type="number" class="form-control" placeholder="Taux d'intérêt" id="tauxinteret_simulation"
              formControlName="tauxinteret_simulation" />
          </div>
          <div class="col-lg-6">
            <label for="montant_remise_simulation">Montant de remise</label>
            <input type="number" class="form-control" placeholder="Montant de remise" id="montant_remise_simulation"
              formControlName="montant_remise_simulation" />
          </div>
        </div>
        <div class="spacer"></div>
        <div class="row">
          <div class="col-lg-6">
            <label for="frequence_simulation">Fréquence (mensuelle)</label>

            <input type="number" class="form-control" placeholder="Fréquence" id="frequence_simulation"
              formControlName="frequence_simulation" />
          </div>
          <div class="col-lg-6">
            <label for="assurance_deces_simulation">Assurance Dèces %</label>

            <input type="number" class="form-control" placeholder="Assurance Dèces" id="assurance_deces_simulation"
              formControlName="assurance_deces_simulation" />
          </div>
        </div>
        <div class="spacer"></div>

        <div class="row">
          <div class="col-lg-6">
            <label for="frm">Type Assurances</label>

            <div class="form-group" id="frm">

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Décès" id="flex1" formControlName="caractéristiques_simulation"/>
                <label class="form-check-label" for="flex1">
                  Décès
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Incendie" id="flex2" formControlName="caractéristiques_simulation"/>
                <label class="form-check-label" for="flex2">
                  Incendie
                </label>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <label for="assurances_simulation">Périodicité prime Décès</label>

            <select class="form-select" aria-label="Assurances" id="assurances_simulation"
              formControlName="assurances_simulation">
              <option value="" selected>Choisire...</option>
              <option value="Prime mensuelle">Prime mensuelle</option>
              <option value="Prime unique">Prime unique</option>
            </select>
          </div>
        </div>
        <div class="spacer"></div>

        <div class="row">
          <div class="col-lg-6">
            <label for="echeance_mensuelle_simulation">Echéance mensuelle</label>

            <input type="number" class="form-control" placeholder="Echéance" id="echeance_mensuelle_simulation"
              formControlName="echeance_mensuelle_simulation" />
          </div>
          <div class="col-lg-6">
            <label for="frais_dossier_simulation">Frais dossier</label>

            <input type="number" class="form-control" placeholder="Frais dossier" id="frais_dossier_simulation"
              formControlName="frais_dossier_simulation" />
          </div>
        <div class="spacer"></div>

          <div class="col-lg-6">
            <label for="avance_credit_simulation">Avance sur crédit</label>

            <input type="number" class="form-control" placeholder="Avance sur crédit" id="avance_credit_simulation"
              formControlName="avance_credit_simulation" />
          </div>
        </div>
      </section>

      <section id="resultat" *ngIf="step == 3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-12">
              <h2 class="mad-page-title">RESULTAT SIMULATION DE CREDIT</h2>
              <br />
              <h5 class="clientheading">
                Nom du client : {{ this.nomclient }}
              </h5>
              <div class="text-right">
                <button class="btn btn-success " id="btn-download" (click)="openPDF()">Télécharger PDF</button>
              </div>
              <table class="sim_cobtainer">
                <tr>
                  <td>
                    <span><img src="../assets/images/iconsim/montant.svg" alt="" width="43px" /></span><span
                    class="detail_sim_lable_container"><span class="detail_sim_labels">MONTANT DU CRÉDIT
                      </span><br /><span class="detail_sim_num"> {{ this.mntcredit }} </span><span> DH</span></span>
                  </td>
                  <td>
                    <span><img src="../assets/images/iconsim/interest.svg" alt="" width="43px" /></span>
                    <span class="detail_sim_lable_container"><span class="detail_sim_labels">TAUX (HT)</span><br />
                      <span class="detail_sim_num" id="tauxinteret"> {{ this.interet }}</span>%</span>
                  </td>
                  <td>
                    <span><img src="../assets/images/iconsim/duree.svg" width="43px" /></span>
                    <span class="detail_sim_lable_container">
                      <span class="detail_sim_labels">DURÉE DU CRÉDIT</span><br />
                      <span id="duree" class="detail_sim_num"> </span>{{ this.duree }} MOIS</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span><img src="../assets/images/iconsim/franchise.svg" width="43px" /></span><span
                      class="detail_sim_lable_container"><span class="detail_sim_labels">Franchise
                        Différé</span><br /><span class="detail_sim_num"> 0 </span><span> MOIS</span></span>
                  </td>
                  <td>
                    <span><img src="../assets/images/iconsim/duree.svg" width="43px" /></span><span
                      class="detail_sim_lable_container"><span class="detail_sim_labels">Fréquence de
                        remboursement</span><br /><span class="detail_sim_num" id="frequence"> </span>{{ this.frequence
                      }} MOIS</span>
                  </td>
                  <td>
                    <span><img src="../assets/images/iconsim/type-interest.svg" alt="" width="43px" /></span><span
                      class="detail_sim_lable_container"><span class="detail_sim_labels">Type de taux</span><br /><span
                        id="typetx" class="detail_sim_num">{{ this.typetaux }}
                      </span></span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="ligh_grey_bg">
                    <span><img src="" width="43px" /></span><span class="detail_sim_lable_container"><span
                        class="detail_sim_labels">Autres Infos </span><br /><span class="cout_txt">
                        <span class="text-info"> Type de produit : {{ this.typeprod }}</span>
                      </span></span><span class="detail_sim_lable_container mleft"><span
                        class="detail_sim_labels"></span><br /><span class="cout_txt">
                        <span class="text-info">Avance sur crédit : {{ this.mntavance }}</span>
                      </span></span><span class="detail_sim_lable_container mleft"><span
                        class="detail_sim_labels"></span><br /><span class="cout_txt">{{ this.fraisdossier }}
                        <span>Dhs(Frais de dossier)</span>
                      </span></span>
                  </td>
                  <td class="orange_bg">
                    <span><img src="../assets/images/iconsim/mensualite.svg" width="43px" /></span><span
                      class="detail_sim_lable_container"><span class="detail_sim_labels white-txt">MENSUALITÉ
                        TTC</span><br /><span class="detail_sim_num white-txt" id="mensualite">
                        {{ this.mensualitee | number : "1.2-2" }}</span></span>
                  </td>
                </tr>
              </table>

              <!--================ Vertical Table ================-->
              <br />
              <br />
              <div class="mad-table-wrap style-2">
                <table class="mad-table">
                  <thead>
                    <tr>
                      <th colspan="3" style="text-align: center">
                        Frais Assurances TTC
                      </th>
                      <th rowspan="2">Frais de dossier TTC</th>
                      <th rowspan="2">Montant à débloquer</th>
                    </tr>
                    <tr>
                      <th>Décès</th>
                      <th>Incendie</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-cell-title="Décès" style="color: #121212; border: 1px solid">
                        {{this.prime}}
                      </td>
                      <td data-cell-title="Incendie" style="color: #121212; border: 1px solid">
                        1,138 DH
                      </td>
                      <td data-cell-title="Total" style="color: #121212; border: 1px solid">
                        1,138 DH
                      </td>
                      <td data-cell-title="Frais de dossier TTC " style="color: #121212; border: 1px solid">
                        {{ this.fraisdossier }} DH
                      </td>
                      <td data-cell-title="Montant à débloquer" style="color: #121212; border: 1px solid">{{this.mntndebloquer}}  DH</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--================ End of Vertical Table ================-->
              <br />
              <p class="message_dinfo">
                <span>NB : Il s'agit d'une simple simulation à caractère non
                  contractuelle</span>
              </p>
            </div>
          </div>
        </div>
      </section>
      <div class="spacer"></div>
      <div class="row actions">
        <a class="btn btn-primary" *ngIf="step != 1" (click)="previous()">Précedent</a>
        <button class="btn btn-primary" type="submit" *ngIf="step != 3">
          Suivant
        </button>
        <!-- <button class="btn btn-primary" type="submit" *ngIf="step == 3">
          Valider
        </button> -->
        <a class="btn btn-primary" *ngIf="step == 3" routerLink="/validation">Valider</a>

        <!-- <br><pre>
          {{multistep.value | json}}</pre> -->
      </div>
      <div class="spacermt"></div>
    </div>
  </form>
</div>