<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">A propos</span>
                        <h2>MySimulation, votre solution de gestion des crédits</h2>
                    </div>
                    <div class="text">C'est une application pour la gestion des simulations des crédit pour les clients en plusieurs type de produit (Appartement, Automobile, moto, etc.)
                        il vous donne une fiche détaillée sur la simulation de votre crédit (frais de dossier, intéret, mensualité de trait, etc), votre calculateur de crédit
                    </div>
                    <div class="text">
                        Cette application consiste de plusieurs fonctionnalité à savoir : calculation des frais de crédit, mensualité de crédit, export en PDF, modification de simulation, etc.
                    </div>
                    <div class="btn-box">
                        <a href="mailto:zakariaaadel@gmail.com" class="theme-btn btn-style-one">Contacter moi</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="author-desc">
                        <h2>By Zakaria AADEL</h2>
                        <span>UI/UX Designer | Web Developer</span>
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img
                                src="../assets/images/img-about.jpg" alt=""></a>
                    </figure>

                </div>
            </div>

        </div>
        <div class="sec-title">
            <span class="title">Objectif</span>
            <h2>Une solution digitale innovante </h2>
        </div>
        <div class="text">
            Nous travaillons sur l'aspect du UI/UX et la fonctionnalité afin des modules soit doté d'une structure appropriée et d'une apparence étonnante. 
            qui s'adaptent à l'application et avec l'experience utilisateur 
        </div>
        <div class="text">
            Cette application est conçu par Zakaria AADEL un frontend-developper et UI/UX Designer, on autiliser le stack de : NodeJS avec Framework Express JS en Backend et le framework Angular en frontend-developper
            HTML/CSS (Bootstrap) et Base de donnée MySql
        </div>
        <div class="text">
            Nous essayons ici de vous fournir toutes sortes de contenus techniques, qu'ils soient liés à la conception ou à la fonctionnalité.
            Nous créons du contenu dans de nombreuses langues et nous continuerons à le rendre gratuit même si vous l'utilisez sans problème.
             si vous l'utilisez sans problème. Ce qui est très important.
        </div>
    </div>
</section>