<div class="spacerhead"></div>
<div class="container-fluid">
    <div class="layout-specing">
        <div class="d-md-flex justify-content-between align-items-center" id="botttom">
            <h3 class="mb-0">Liste des clients</h3>
            <nav aria-label="breadcrumb" class="d-inline-block">
                <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                    <li class="breadcrumb-item text-capitalize"><a href="">Accueil</a></li>
                    <li class="breadcrumb-item text-capitalize"><a href="#">Gestion Clients</a></li>
                    <li class="breadcrumb-item text-capitalize active" aria-current="page">Liste clients</li>
                </ul>
            </nav>
        </div>
        <div class="row">

            <div class="form-group row">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <input #query type="text" class="form-control" placeholder="Nom du client"
                             aria-describedby="button-addon2">
                        <button class="btn btn-outline-dark" type="button" id="button-addon2" (click)="filter(query.value)">Recherche</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-dark" type="button" id="right" (click)="exportExcel()">Exporter
                        excel</button>
                </div>
            </div>

            <div class="col-12 mt-2">
                <div class="table-responsive shadow rounded">
                    <table class="table table-center bg-white mb-0" id="clients">
                        <thead>
                            <tr>
                                <th class="border-bottom p-3">Nom & prénom</th>
                                <th class="border-bottom p-3">N°Cin</th>
                                <th class="text-center border-bottom p-3">Age</th>
                                <th class="text-center border-bottom p-3">Profession</th>
                                <th class="text-center border-bottom p-3" style="min-width: 150px;">Salaire</th>
                                <th class="text-center border-bottom p-3">Ville</th>
                                <th class="text-center border-bottom p-3">Téléphone</th>
                                <th class="text-center border-bottom p-3" style="min-width: 200px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Start -->
                            <tr *ngFor="let client of filtredProducts | paginate: {
                                itemsPerPage: tableSize,
                                currentPage: page,
                                totalItems: count
                              };
                                let i = index ">
                                <th class="p-3"> <a href="#" class="text-primary">{{client.nom_prenom_client}}</a></th>
                                <td class="p-3">
                                    <span class="ms-2">{{client.numero_cin_client}}</span>
                                </td>
                                <td class="text-center p-3">{{client.age_client}}</td>
                                <td class="text-center p-3">{{client.profession_client}}</td>
                                <td class="text-center p-3">{{client.revenu_principale_client}}</td>
                                <td class="text-center p-3">{{client.ville_client}}</td>
                                <td class="text-center p-3">{{client.telephone_client}}</td>
                                <td class="text-end p-3">
                                    <a routerLink="{{client.id_client}}" class="btn btn-sm btn-primary">Modifier</a>
                                    <button type="button" (click)="supprimer(client.id_client)"
                                        class="btn btn-sm btn-soft-danger ms-2">Supprimer</button>
                                </td>
                            </tr>
                            <!-- End -->
                        </tbody>
                    </table>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="spacer"></div>
        <div class="d-flex justify-content-end">
            <pagination-controls previousLabel="Préc" nextLabel="Suiv" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>
    </div>
</div><!--end container-->
<div class="spacermg"></div>