<div class="container-fluid">
    <div class="spacer"></div>
    <div class="card">
        <div class="row">
            
                <div class="card-body">
                    <h2 class="mad-page-title">Félication Simulation validée en succès</h2>
                    <br>
                    <img class="center" src="../assets/images/checked.png" alt="">
                    <br>
                    <br>
                    <p class="pcenter">Nous vous informons que votre Simulation à était bien enregister <br>
                        avec tous les données que vous avez entrer.
                    </p>
                    <div class="text-center">
                        <a class="btn btn-primary" routerLink="/creation-simulation">Nouvelle Simulation</a>
                        <a class="btn btn-border" routerLink="/simulations">Liste des simulations</a>
                    </div>
                </div>
            
        </div>
    </div>
    <div class="spacer"></div>

</div>